  <div id="habit-<%= habit.id %>">
      <span class="habit-item">
        <span class="habit-name">
          <%= habit.name %>
        </span>
        <span class="habit-controls">
          <%= link_to "(edit)", edit_habit_path(habit), data: { turbo_frame: "_top" } %>
        </span>
      </span>
  </div>
