<div>
  <h1><%= @habit.name %></h1>

  <% if @habit.youtube_url.present? %>
    <iframe
      width="560"
      height="315"
      src="<%= @habit.youtube_embed_url %>"
      frameborder="0"
      allowfullscreen
    >
    </iframe>
  <% end %>

  <%= button_to "Done",
      mark_completed_habit_path(@habit),
      method: :post,
      class: "btn" %>
</div>
